<% function chosen(header_title, current_page){ %>
    <% if(header_title == current_page){ %>

        <% return "nav-item active"%>

    <% } else { %>

        <% return "nav-item"%>

    <% } %>
<% } %>

<link href="/css/header.css" rel="stylesheet" />

<!-- header section strats -->
<header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand">
          <img class="pint-logo" src="/images/PInT Logo_No text light.png"/><span>PInT | Olin</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="<%- chosen('home', page) %>">
              <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="<%- chosen('about', page) %>">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="<%- chosen('teams', page) %> teams">
              <a class="nav-link" href="/teams">Teams</a>
              <!--<div class="header-dropdown">
                <a href="/teams/hydroponics">Hydroponics</a>
                <a href="/teams/hydroponics">Eduponics</a>
              </div> -->
            </li>
            <li class="<%- chosen('docs', page) %> docs">
              <a class="nav-link"><i class="fa fa-angle-down" aria-hidden="true" style="position: absolute; left: 4px; top: 8px;"></i> Docs</a>
              <div class="header-dropdown">
                <a href="https://olin-hydro.github.io/documentation/">Hydroponics</a>
                <a href="https://kennethxiong23.github.io/outmaine/onboarding/">Out Maine</a>
              </div>
            </li>
            <li class="<%- chosen('docs', page) %> resources">
              <a class="nav-link"><i class="fa fa-angle-down" aria-hidden="true" style="position: absolute; left: 4px; top: 8px;"></i> Resources</a>
              <div class="header-dropdown">
                <a href="/partner-with-us">Contact Us</a>
                <a href="/events">Schedule</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <script src="/js/header.js"></script>
  <!-- end header section -->